body
{
    background-color: peachpuff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img
{
    width: 1000px;
    height: 500px;
}
.logo
{
    width: 200px;
    height: auto;
}
.logoimg
{
    width: 1000px;
    height: auto;
}

.date
{
    font-size: 12px;
}



nav li
{
    display: inline;
    margin-right: 50px;
}

nav ul
{
    padding-left: 0;
}

nav a, nav a:visited, nav a:active {
    color: brown;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(126, 30, 210);
    text-decoration: underline;
}

footer
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    background-color: rgb(237, 138, 138);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.wlegging
{
    width: 200px;
    height: auto;
}
.whoodie
{
    width: 200px;
    height: auto; 
}
.mshirt
{
    width: 200px;
    height: auto;
}
.mtshirt
{
    width: 200px;
    height: auto; 
}

.visa
{
    width: 60px;
    height: auto;
}

.email
{
    font-size: 15px;
    font-weight: bold;
    color: rgb(87, 38, 3);
}
.address
{
    font-size: 15px;
    font-weight: bold;
    color: rgb(87, 38, 3);
}
.mobile
{
    font-size: 15px;
    font-weight: bolder;
    color: rgb(87, 38, 3);
}

.whatsapp
{
    width: 20px;
    height: auto;
}
.Fb
{
    width: 20px;
    height: auto;
}
.insta
{
    width: 20px;
    height: auto;
}